.addinputs{
    border: grey 1px solid;
    border-radius: 1vh;
    padding: 1vh;
    margin-top: 2vh;
}

.addForm{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.ant-form-item{
    margin-bottom: 10px !important;
}