.login{
    display: flex;
    justify-content: space-around;
}

.login .signupimg{
    width: 40%;
}

.logincard{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10vh;
    border-radius: 8px;
}

.logo{
    width: 10%;
    border-radius: 30px;

}

.muted{
    color: rgb(163, 163, 163);
}

h2,h3{
    margin: 1vh!important;
}

.logincard:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
